.navbar
{
	color: black;
}
p {
    color: grey;
    font-size: 15;
}
body
{
    background-image: url(../img/background.jpg);
}
.main-content-stuff
{
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:50px;
    margin-right:50px;
}
