.navbar
{
	color: black;
}
p {
    color: grey;
    font-size: 15;
}
body
{
    background-image: url(../img/background.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.main-content-stuff
{
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:50px;
    margin-right:50px;
}

.container
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:50px;
    margin-right:50px;
}
